:host {
  display: block;
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  text-align: center;
  font: 400 1em/3em Roboto, "Helvetica Neue", sans-serif !important;
  p {
    font-size: 3em;
    margin-bottom: 50px;
  }
  a {
    font-size: 3em;
  }
}
