<app-modify-content (newContentEvent)="addContentToList($event)"></app-modify-content>

<div id="input-div">
  <h1>Search Music</h1>
  <div id="inner-input-div">
    <mat-form-field appearance="fill">
      <mat-label>Search Music</mat-label>
      <input matInput #albumName>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="searchEvent(albumName.value)">Search</button>
  </div>
  <p *ngIf="searchMsg" [ngClass]="getClass(searchMsg)" id="searchMsg">{{ searchMsg }}</p>
</div>

<div id="content-cards">
  <h1>Albums</h1>
  <app-content-card class="album" *ngFor="let item of (contentList | contentTypeFilter: 'Album'); first as isFirst" [content]="item" [class.is-first]="isFirst"></app-content-card>

  <h1>Singles</h1>
  <app-content-card class="single" *ngFor="let item of (contentList | contentTypeFilter: 'Single'); first as isFirst" [content]="item" [class.is-first]="isFirst"></app-content-card>

  <h1>No Type</h1>
  <app-content-card class="no-type" *ngFor="let item of (contentList | contentTypeFilter); first as isFirst" [content]="item" [class.is-first]="isFirst"></app-content-card>
</div>
