:host {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border: 1px dashed black;
  padding: 30px;

  h1 {
    margin-bottom: 8px;
  }
  p {
    margin: 5px 0px 0px;
  }
  .description {
    font-style: italic;
  }
  #tags-list {
    padding: 0px;
    display: flex;
  }
  #tags-list li {
    list-style-type: none;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
  }
}

:host.is-first {
  border: 2px solid black;
}
:host.album {
  border-color: #e55959;
  background-color: #fff0f0;
  #tags-list li {
    background-color: #f37d7d;
  }
}
:host.single {
  border-color: #267200;
  background-color: #f0fff0;
  #tags-list li {
    background-color: #97d292;
  }
}
:host.no-type {
  border-color: #001fb9;
  background-color: #f0f3ff;
  #tags-list li {
    background-color: #7d91f3;
  }
}
