:host {
  mat-card {
    display: block;
    max-width: 800px;
    margin: 20px auto;
    border: 1px dashed black;
    padding: 30px;
  }

  .description {
    font-style: italic;
  }
  #tags-list {
    padding: 0px;
    display: flex;
  }
  #tags-list li {
    list-style-type: none;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
  }
  img {
    width: 220px;
    margin: 0px 0px 16px;
  }
  mat-card-header {
    margin-left: -16px;
  }
}

:host.is-first mat-card {
  border: 2px solid black;
}
:host.album mat-card {
  border-color: #e55959;
  background-color: #fff0f0;
  #tags-list li {
    background-color: #f37d7d;
  }
}
:host.single mat-card {
  border-color: #267200;
  background-color: #f0fff0;
  #tags-list li {
    background-color: #97d292;
  }
}
:host.no-type mat-card {
  border-color: #001fb9;
  background-color: #f0f3ff;
  #tags-list li {
    background-color: #7d91f3;
  }
}
:host.top-content mat-card {
  background-color: #d7d7d7;
  box-shadow: 2px 2px 5px #9f9f9f;
  #tags-list li {
    background-color: #a4a4a4;
  }
}
